.favorited{
	color:red;
}
.fa-heart{
	color:gray;
}

.random-result{
	display: inline-block;
	width:25%;
}

a{
	text-decoration: none;
}


.inliner{
	float:right;
	display: inline-block;
	width:25px;
	cursor:pointer;
}

.hundred-percenter{
	width:100%;
}