navbar {

  display: block;
/*  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
*/
  .container {
    width: 91%;
    max-width: 1340px;

  }



  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .top-of-site{
    padding-left: 25px;
    width:16%;
    margin-right:0px;
    font-size:2em;
    cursor:pointer;
  }
  .login-button {
    margin-left:65%;
    margin-top: 10px;
  }

  .welcome {
    margin-left:65%;
    margin-top: 12px;
    span {
      color: white;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }
  .search-bar-custom{
  width:100px;
  padding-right:1%;
}

}
